*{padding: 0; margin: 0; box-sizing: border-box; color: inherit;}

.grid{display: grid;}

#root{width: 900px; margin: 0 auto;}
.container{padding-top: 4rem; width: 100%; height: 900px;grid-template-columns: repeat(3, 1fr); }
.item{border: 3px solid #000; position: relative;}
.item label{min-width: 300px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 10;}

#tic-tac-toe1-red:checked~.container .blue{display: block;}
#tic-tac-toe1-red:checked~.container .red{display: none;}

#tic-tac-toe1-red:checked~.container

.item1-blue,
.item2-blue,
.item3-blue,
.item4-blue,
.item5-blue,
.item6-blue,
.item7-blue,
.item8-blue,
.item9-blue{display: none;}


/* #tic-tac-toe1-red:checked~.container:nth-child(1){display: block; background: red; }
#tic-tac-toe1-blue:checked~.container:nth-child(1){display: block; background: blue;}

#tic-tac-toe2-red:checked~.container:nth-child(3){display: block; background: red;}
#tic-tac-toe2-blue:checked~.container:nth-child(3){display: block; background: blue;}

#tic-tac-toe3-red:checked~.container:nth-child(5){display: block; background: red;}
#tic-tac-toe3-blue:checked~.container:nth-child(5){display: block; background: blue;}

#tic-tac-toe4-red:checked~.container:nth-child(7){display: block; background: red;}
#tic-tac-toe4-blue:checked~.container:nth-child(7){display: block; background: blue;}

#tic-tac-toe5-red:checked~.container:nth-child(9){display: block; background: red;}
#tic-tac-toe5-blue:checked~.container:nth-child(9){display: block; background: blue;}

#tic-tac-toe6-red:checked~.container:nth-child(11){display: block; background: red;}
#tic-tac-toe6-blue:checked~.container:nth-child(11){display: block; background: blue;}

#tic-tac-toe7-red:checked~.container:nth-child(13){display: block; background: red;}
#tic-tac-toe7-blue:checked~.container:nth-child(13){display: block; background: blue;}

#tic-tac-toe8-red:checked~.container:nth-child(15){display: block; background: red;}
#tic-tac-toe8-blue:checked~.container:nth-child(15){display: block; background: blue;}

#tic-tac-toe9-red:checked~.container:nth-child(17){display: block; background: red;}
#tic-tac-toe9-blue:checked~.container:nth-child(17){display: block; background: blue;} */
