* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    width: 100vw;
    height: 100vh;
}
/* input {
    display: none;
} */
.board {
    border: 1px solid #333;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    margin: 0 auto;
}
.box0,
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8 {
    border: 1px solid #333;
}
circle {
    stroke: #333;
    stroke-width: 2;
    fill: none;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}
path {
    stroke: #333;
    stroke-width: 2;
    stroke-dasharray: 1000;
}
#o0:checked ~ .board > .box0 circle,
#o1:checked ~ .board > .box1 circle,
#o2:checked ~ .board > .box2 circle,
#o3:checked ~ .board > .box3 circle,
#o4:checked ~ .board > .box4 circle,
#o5:checked ~ .board > .box5 circle,
#o6:checked ~ .board > .box6 circle,
#o7:checked ~ .board > .box7 circle,
#o8:checked ~ .board > .box8 circle {
    animation: stroke 2s ease-out forwards;
}
#x0:checked ~ .board > .box0 .drawX > svg,
#x1:checked ~ .board > .box1 .drawX > svg,
#x2:checked ~ .board > .box2 .drawX > svg,
#x3:checked ~ .board > .box3 .drawX > svg,
#x4:checked ~ .board > .box4 .drawX > svg,
#x5:checked ~ .board > .box5 .drawX > svg,
#x6:checked ~ .board > .box6 .drawX > svg,
#x7:checked ~ .board > .box7 .drawX > svg,
#x8:checked ~ .board > .box8 .drawX > svg {
    display: block;
    animation: dash 2s ease-out forwards;
}
@keyframes stroke {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}
.user {
    width: 400px;
    height: 100px;
    margin: 0 auto;
    font-size: 64px;
}
.userO {
    text-align: center;
    line-height: 100px;
}
.userX {
    text-align: center;
    line-height: 100px;
    display: none;
}
.drawX {
    display: none;
}
input:checked ~ .board .drawX {
    display: none;
}
input:checked ~ input:checked ~ .board .drawO {
    display: none;
}
input:checked ~ input:checked ~ .board .drawX {
    display: block;
}